
<div class="dna-message">
 		<h4>ALL YOUR REPAIR WORKS DONE WITHOUT STEPPING OUT OF YOUR HOME</h4>    		  	
    		  
 		
</div>
 	
<div class="homepage">


  	
    <div style="margin-left:25px;">
    <tr><td width="100%" valign="top" >  
   
<FONT size="6" color="#0F4861" face="comic sans ms">
  
  <script language="JavaScript1.2">

/*
Neon Lights Text
By JavaScript Kit (http://javascriptkit.com)
For this script, TOS, and 100s more DHTML scripts,
Visit http://www.dynamicdrive.com
*/

var message="Welcome to positing daily..."
var neonbasecolor="green"
var neontextcolor=" darkblue"
var flashspeed=150  //in milliseconds

///No need to edit below this line/////

var n=0
if (document.all||document.getElementById){
document.write('<font color="'+neonbasecolor+'">')
for (m=0;m<message.length;m++)
document.write('<span id="neonlight'+m+'">'+message.charAt(m)+'</span>')
document.write('</font>')
}
else
document.write(message)

function crossref(number){
var crossobj=document.all? eval("document.all.neonlight"+number) : document.getElementById("neonlight"+number)
return crossobj
}

function neon(){

//Change all letters to base color
if (n==0){
for (m=0;m<message.length;m++)
//eval("document.all.neonlight"+m).style.color=neonbasecolor
crossref(m).style.color=neonbasecolor
}

//cycle through and change individual letters to neon color
crossref(n).style.color=neontextcolor

if (n<message.length-1)
n++
else{
n=0
clearInterval(flashing)
setTimeout("beginneon()",1500)
return
}
}

function beginneon(){
if (document.all||document.getElementById)
flashing=setInterval("neon()",flashspeed)
}
beginneon()
</script>
</FONT><br /><br /> <pre><FONT size="2" color="black" face="verdana">Quickest and Easiest way to Learn is by learning about real contributions in Companies/Businesses/Organizations.
Posit Daily is being described by senior HR professionals and Heads of Organizations as a groundbreaking/ path-breaking worldwide platform.
It is about tracking and learning from "real" and positive actions and positive interactions and positive communication of everyday in every company worldwide.

Everyone needs to learn:
1. To live the best and happiest life through social, family, work, business and all other interactions.
2. To make significant contributions at work to earn higher salary; to grow up the heirarchy; etc.
3. To lead people; to convince people; to be efficient in communication; etc. 
<b><FONT size="5" color="green" face="times new roman">LEARN what?</FONT></b>
Positive thinking, Positive actions/interactions/communication - positive psychology.
Positive attitude of employees is the biggest concern of all Leaders/CXOs in the world.

World operates because of positive actions/interactions/communication between people. 
Businesses/Organizations are run by positive/actions/interactions/communication between people. 
Every interaction/communication is an opportunity. Life is full of such opportunities.

<b><FONT size="4" color="green" face="times new roman">All positive actions and interactions and communication reflect only two skills:</FONT> </b> 
1. People Skills.
2. Selling Skills.

People Skills build and strengthen relationships.
Selling Skills are about productive and effective communication.

<b><FONT size="4" color="green" face="times new roman">Individual's confidence levels are derived from Individual's people skills and selling skills.</FONT></b>
<b><FONT size="4" color="green" face="times new roman">Companies/Businesses/Organizations are therefore run by people skills and selling skills.</FONT></b>
<b><FONT size="4" color="green" face="times new roman">Human mind is Loyal to consistent positive actions, positive interactions and positive communication.</FONT></b>

It is therefore, people skills and selling skills that shape and mould the attitudes of people/employees.
<b><FONT size="4" color="green" face="times new roman">Organizations are much in need of positive attitude of employees.</FONT></b>
Only exposure to positive attitude begets more positive attitude.

<b><FONT size="4" color="green" face="comic sans ms">Language skills, communication skills and presentation skills are effortlessly attained by those who have 
high levels of interest in "people skills" and/or "selling skills".</FONT></b>
Learning and learning to think are easiest and quickest when employees can imitate the best -This is the quickest way to build the best and world class 
"people skills" and "selling skills".

Posit Daily is about: 
1. Motivating and inspiring everyday - to be more productive and efficient as "teams" and as "individuals".
2. Learning Daily from the best countrywide and worldwide and Organizationwide real contributions.
3. Earning more as well as Growing up the heirarchy through consistent and effective daily contributions.
4. Identifying leaders most "transparently" and "fairly", eliminating all possible bias/favoritism in appraisals.
5. Weekly "free" motivational exercises by Worldwide Experts.
6. Dignostic reporting - analysing "real" daily contributions.
7. Building the best attitude.

<b><FONT size="4" color="green" face="times new roman">All of the above improve productivity and efficiency continually.</FONT></b>

Because.....
<b><FONT size="5" color="green" face="comic sans ms">The foundations of work, value addition, quantum of responsibility, 
earning capacity, love, respect, peace, commitment, team spirit, 
motivation, inspiration are all laid and strengthened through 
"people skills" and "selling skills".</FONT></b>

Individual's Attitude at work and in social life are influenced and shaped only by exposure to contributions in these two areas.

<b><FONT size="6" color="green" face="comic sans ms">Show Case your People Skills and Selling Skills and get 
a reward of 20% to 40% of your Annual Salary, every year.
DO NOT POST CONFIDENTIAL INFORMATION.</FONT></b></pre>

<table>

<tr>
<td valign="top">

<table style="border:5px solid #DDD;
padding:15px;
position:relative;
word-wrap:break-word;
-moz-border-radius:5px; /*add some nice CSS3 round corners*/
-webkit-border-radius:5px;
border-radius:5px;
margin-top:2em;
<tr><td valign="top"></td><td><font color="#0101df" size="3"><b><center>People Skills</b></font>
<sub><font color="#298a08">have the power to: </font></center></sub>
                    - Start a relationship <br />
                    - Strengthen a relationship <br />
                    - Comfort us <br />
                    - Assure us of Respect <br />
                    - Build Confidence in us <br />
                    - Bring Cheer, Smile, Make us Laugh <br />
                    - Relieve us from Stress/Fatigue and Work Pressure <br />
                    - Ensure that our Presence is Noticed <br />
                    - Ensure that our Work is Appreciated <br />
                    - Strengthen Commitment <br />
                    - Infuse Team Spirit <br />
                    - Motivate us to Deliver / Contribute <br />
                    - Motivate us to Add Value <br />
                    - Make us Adhere to Timelines <br />
                    - Inspire us to Share our Thinking <br />
                    - Inspire us to Promote a Change in self and others <br />
                    - Inspire us to make the Best of Contributions <br />
                    - Mould attitude in every situation <br />
</td></tr></table>
</td>

<td style="" valign="right">
<table style="border:5px solid #DDD;
padding:15px;
position:relative;
word-wrap:break-word;
-moz-border-radius:5px; /*add some nice CSS3 round corners*/
-webkit-border-radius:5px;
border-radius:5px;
margin-top:2em;
"><tr><td valign="top"></td><td><font color="#0101df" size="3"><b><center>Selling Skills</b></font>
<sub><font color="#CC6600"></font></center></sub>
                    - Deliver Conviction completely and effectively        <br />
                    - Deliver a message effectively <br />
                    - Drive a Final Decision <br />
                    - Sell an Idea <br />
                    - Sell a Concept <br />
                    - Sell a Policy <br />
                    - Sell a Process <br />
                    - Sell a Principle <br />
                    - Sell a Strategy <br />
                    - Change a Habit <br />
                    - Drive Thinking <br />
                    - Drive Discussion / Debate <br />
                    - Cultivate a Habit <br />
                    - Mould attitude in every situation <br /><br /><br /><br /> <br />

<div id="marquee1" class="container_run" onmouseover="zxcMarquee.scroll('marquee1',0);" onmouseout="zxcMarquee.scroll('marquee1',-1);">
<div style="position: absolute; width: 100%; ">
<p style="margin-top: 0"><b><FONT size="4" color="blue" face="times new roman"> <br /> <br />PEOPLE SKILLS</FONT></a></b></p>
<p style="margin-top: 0"><b><FONT size="4" color="green" face="times new roman">Etiquette</FONT></a></b>
I have the habit of wishing 'Good Morning' when I walk into my Office.</p>
<p style="margin-top: 0"><b><FONT size="4" color="green" face="times new roman">Goodwill Gesture</FONT></a></b>
Today I shared Lunch with TSR as he did not bring lunch. <br /> <br />
Yesterday I advised GSM to stop worrying and be cheerful all the time. <br /> <br />
Today I explained the Algorithm for Game Theory to ASR, though it is not my responsibility to do that.</p>

<br /> <p style="margin-top: 0"><b><FONT size="4" color="blue" face="times new roman">SELLING SKILLS</FONT></a></b></p>
<p style="margin-top: 0"><b><FONT size="4" color="green" face="times new roman">Positdaily's Best Sales Pitch</FONT></a></b> <br />
1) The foundations of work/value addition/quantum of responsibility/earning capacity, love, respect, peace, commitment, team spirit, motivation, inspiration are all laid and strengthened through “people skills” and “selling skills”. Individual’s Attitude at work and in social life are influenced and shaped only by exposure to contributions
in these two areas. The World goes around because of only positive experiences. <br /> <br />
2) Enlightenment (finding oneself) is possible only through "People Skills" and "Selling Skills". <br /> <br />
3) Heading towards enlightenment is the fundamental objective of every mind. <br /> <br />
4) Directing each other to finding oneself never interferes with work and value addition; it can only improve. <br /> <br /> </p>

<p style="margin-top: 0"><b><FONT size="4" color="green" face="times new roman">Motivating and Inspiring</FONT></a></b>
The ability to deal with people is as purchasable a commodity as sugar or coffee; but, each moment it can add more value than any other ability
under the sun.</p>

<p style="margin-top: 0"><b><FONT size="4" color="green" face="times new roman">Learning</FONT></a></b>
By three methods we may learn: First, by reflection, which is noblest; Second, by imitation, which is easiest; and third by experience, which
is the bitterest.</p>

<p style="margin-top: 0"><b><FONT size="4" color="green" face="times new roman">Attitude Building</FONT></a></b>
Understanding Intentions is most important. Actions may or may not be completely conveying the sense.<br /><br />
Attitudes are mirrors of the mind - They reflect thinking. People may hear your words, but they feel your attitude.<br /><br />
Building a positive attitude makes you want to do and do more.<br /><br />
Sense of Urgency, high stakes and uncertainty will continue; perhaps even increase the pressures of life on the mind. The only way forward is
to build attitude to retain the leadership attributes.<br /><br />
We choose what attitudes we have right now. And it's a continuing choice.<br /><br />

<p style="margin-top: 0"><b><FONT size="4" color="green" face="times new roman">Ethical Direction</FONT></a></b>
It would do well to remember that all successful businesses stand on the foundation of morality.<br /><br />
Charity is injurious unless it helps the recipient to become independent of it.<br /><br />

<p style="margin-top: 0"><b><FONT size="4" color="green" face="times new roman">SELLING SKILLS: Posted Observations & Eye-openers</FONT></a></b>
This morning I told SDG that it's all “Personal” everywhere, Not Business – What we say and do impacts people. <br /> <br />
This evening I conveyed to CDM that work by itself does not cause stress; it is the worry that causes stress. <br /> <br />
I told GTR that ability will never catch up with the demand for it.<br /> <br />

<p style="margin-top: 0"><b><FONT size="4" color="green" face="times new roman">Motivators</FONT></a></b>
Today I told RM "You are right when you think that you can do a thing; also when you think that you can’t do a particular thing - It is important to think on these two lines".<br /> <br />
The theme I promoted with my team this week is 'Progress is never automatic nor inevitable; each one of must think and work harder and smarter'.<br /> <br />
Our business in life is not to get ahead of others, but to get ahead of ourselves. <br /> <br />
Thinking is still the hardest work there is, learning to think is harder. <br /> <br />
There is no passion in settling for a life that is less than the one you are capable of living. <br /><br />
Whoever is happy will make others happy too. It's a good start to be able to recognize what makes you happy.<br /><br />
Leadership and learning are indispensable to each other.<br /><br />

<p style="margin-top: 0"><b><FONT size="4" color="green" face="times new roman">Managing and Leading</FONT></a></b>
Management is efficiency in climbing the ladder of success;leadership determines whether the ladder is leaning against the right wall.<br /><br />
Leadership cannot really be taught. It can only be learned quickly enough.<br /><br />
</p>

</div>


</td></tr>

</table>


</font>

</td>
  
   </tr>
 
  
  </table>

</div>
