	
	<div class="header-block navbar ">
		<div class="header-bar navbar-inner container">
			<div class="margin-block">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
				<%= link_to image_tag("pdlogo.bmp", :class => "header-logo pull-left"),root_url%>
				<div class="nav-collapse collapse">
						<ul class="header-nav-button-block nav pull-right">
							
							<li><a class="glidebutton" href="index.html"><span style="color:#FFFFFF;border-radius: 5px 5px 5px 5px;
								background: #298a08;
								box-shadow: 0 0 4px #DDD;
								" data-text="Home">Home</span></a></li>
   							 <li><a class="glidebutton" href="Employed_People.html"><span data-text="Employed People">Employed People</span></a></li>
    <li><a class="glidebutton" href="Companies.html"><span data-text="Companies">Companies</span></a></li>
    <li><a class="glidebutton" href="Job_Seekers.html"><span data-text="Job Seekers">Job Seekers</span></a></li>
    <li><a class="glidebutton" href="Students.html"><span data-text="Students">Students</span></a></li>
    <li><a class="glidebutton" href="Our_Experts.html"><span data-text="Our Experts">Our Experts</span></a></li>
    <li><a class="glidebutton" href="Terms.html"><span data-text="Terms">Terms</span></a></li>
    <li><a class="glidebutton" href="Contact_Us.html"><span data-text="Contact Us">Contact Us</span></a></li>
    <li><a class="glidebutton" href="Login.aspx"><span data-text="SIGN IN">SIGN IN</span></a></li>
          		
          						
              	
          		</ul>
				</div><!-- /.nav-collapse -->
			</div>
		</div><!-- /navbar-inner -->
	</div><!-- /navbar -->
	



